<div class="container">
  <h1 class="container__title">{{ title }}</h1>
  <div class="btn__container">
    <app-button
      text="Add Post"
      (btnClick)="addComponent()"
      additionalClasses="btn--primary"
    ></app-button>
    <app-button
      text=" Remove last post"
      (btnClick)="removeComponent()"
      additionalClasses="btn--red"
    ></app-button>
    <app-button
      text="Remove all posts"
      (btnClick)="removeAll()"
      additionalClasses="btn--red"
    ></app-button>
  </div>
  <div class="card-container">
    <ng-template #postContent> </ng-template>
    <div>
      <app-modal [openModal]="openModal"></app-modal>
    </div>
  </div>
</div>
